APP_NAME = "school-backend"

APP_PROTOCOL = "http"
APP_DOMAIN = "your ip or 'localhost', ensure is the same of frontend .env"
APP_PORT = "3000"

FRONT_END_PROTOCOL = "http"
FRONT_END_DOMAIN = "your ip or 'localhost', ensure is the same of frontend .env"
FRONT_END_PORT = "5173"

DB_HOST = "localhost or ip, or pgsql (name of the container) if you are using docker"
DB_PORT = "5432"
DB_USER = "pguser"
DB_PASSWORD = "pgpassword"
DB_DATABASE = "postgres"
DB_SCHEMA = "public"
DB_SYNC = "true"

JWT_SECRET = "your-jwt-secret-key-min-32-chars"
JWT_EXPIRES_IN = "900"
JWT_REFRESH_SECRET = "your-jwt-refresh-secret-key-min-32-chars"
JWT_REFRESH_EXPIRES_IN = "604800"